doctype html

head

head  
  title Stash create account pug
  link(rel="stylesheet" type="text/css" href="/style.css")

body
h2="Create account"
p(class="error")=error
div(class="account")
  form(method="post" class="loginbottom")
    input(type="text" placeholder="Enter your email" name="email")
    input(type="password" placeholder="Enter your password" name="password")
    input(type="password" placeholder="Confirm your password" name="passwordconfirm")
    input(type="submit" name="submit")
div(class="stashhome")
  a(href="/login")="Stash"
