doctype html

head  
  title Stash Login Pug
  link(rel="stylesheet" type="text/css" href="/style.css")
  include /clientID.pug

body  
  h2="Login to See Your Stash"
  p(class="error")=error
  div(id="login")
    form(method="post")
      input(type="text" placeholder="username" name="username" value=username)
      input(type="password" placeholder="password" name="password")
      input(type="submit" name="submit")
      div
        input(type="checkbox" id="remember-me" name="rememberMe")
        label(for="remember-me" class="checkbox-label")="Remember me"
        script(src="https://apis.google.com/js/platform.js")
      div(class="g-signin2" data-onsuccess="onSignIn")
    