doctype html

head  
  title Stash Login Pug
  link(rel="stylesheet" type="text/css" href="/style.css")

body  
  h2="Login to See Your Stash"
  p(class="error")=error
  div(id="login")
    form(method="post")
      input(type="text" placeholder="username" name="username")
      input(type="password" placeholder="password" name="password")
      input(type="submit" name="submit")