doctype html

head
  title Stash new password pug
  link(rel="stylesheet" type="text/css" href="style.css")

body
  h2="Create a new password"
  div(class="account")
    form(method="post" id="newPassword")
      input(type="password" placeholder="New password" name="newPassword" value=newPassword)
      input(type="password" placeholder="Confirm password" name="confirmPassword" value=confirmPassword)
      input(type="submit" name="submit")
  div(class="stashhome")
    a(href="/login")="Stash"